/*  Normalizo la pagina*/
* {
    Margin:0;
    padding:0;
    box-sizing: border-box;
    
 }

 /*     Defino la grilla*/
#body_container{
  
    
    display: grid;
    grid-template-areas: 

    "header header header header"
    "none aside section 4"
    "none aside section 4"
    "none aside section 4"
    "footer footer footer footer";
    grid-template-rows:90px auto auto auto 50px;
    grid-template-columns:repeat(4,1fr);

    grid-row-gap: 20px;

    
}

body{
    background-color: #F2F2F2;
   font-size: 16px;
   background-image: url(multimedia/fondocalacora.jpg)
      
   
}


header{
    grid-area: header;
    background-color:#48e ;
    position: relative;
}
#icon_logo{
    display: none;
}
aside{
    grid-area: aside;
  /*  background-color: green;*/
    min-width: 400px;
    
}

.aside_container{
    margin: 10px;
   /* background-color: aqua;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    
}
section{
    grid-area: section;
   /* background-color: yellow;*/
   
    margin-bottom: 100px;
   display: flex;
   justify-content: center; 
    
   
}
.section_container{
   margin: 10px;
   padding: 10px;
   /* background-color: #48e;*/
    
    
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: start;
    background-color: rgb(95, 12, 190);
    color: rgb(88, 156, 215);
    font-size: 1.5rem;
    align-items: center;
    position: relative;
    border: 2px solid black;
}
#up{
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: 50px;
    font-size: 60px;
}



#row{
    
    display: flex;  
    justify-content:center;
    text-align: center;
    align-items: center;
   font-family: sans-serif;
}

a{
    text-decoration: none;
}
.logo{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(95, 12, 190);
    padding-right: 10px;
    border:5px solid #777;
    border-radius: 20px;
}
.imgLogo{

    height: 90px;
    align-items: center;
    margin-right: 10px;
    
}
.textLogo::first-letter{
    color: orange;
    font-size:2.2rem;
}
.textLogo{
    color: aliceblue;
}


.header_buscar{
    width: 30%;
    height: 60px;
   
    
}
.buscador_caja{
    position: relative;
    width:100% ;
    height: 50px;
   
    margin: 5px auto;
}
.box i{
    font-size: 20px;
    color: #777;
}
.box input{
    
    margin: 2px;
	height: 32px;
    width: 80%;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}
.box{
    position: absolute;
    width: 90%;
    height: 36px;
    top:8px;
    left: 30px;
    border-radius: 30px;
    border:none;
    background-color: white;
    padding: px;

}
.header_right{
    margin-left: 20px;
    width: 20%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    
}
.link:hover{
   color: #777;
}
#icon_logo{
    font-size: auto;
    color: #777;
    
}
.link{
   
    font-weight:  900;
    color: aliceblue;
}
.icono_logo{
    width: 50px;
    height: 50px;
}

.aside_container_titulo{
    border:2px solid orange;
    border-radius: 10px;
    background-color: rgb(95, 12, 190);
        
}
.aside_container_titulo h2{
    font-size: 2rem;
    color: antiquewhite;
    
}

.burbujas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    border:2px solid #777;
    margin: 5px  0;    
    border-radius: 10px;
}

.bur{
    width: 3rem;
    height:3rem;
    object-fit: cover;
    border-radius: 50px;
    
    margin-top: 5px;
}
.bur:hover{
    transform:scale(1.8);
    border:2px solid orange;
    
}
.aside_container_cuerpo{
    
    padding: 5px;
    border:2px solid #777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.portada{
  
    height: 200px;
    object-fit: contain;
}
.section_container{
    display: grid;
    grid-template-columns: repeat(3,220px);
    grid-template-rows: repeat(3,300px);
   
    grid-row-gap: 30px;
    grid-column-gap:20px ;
    justify-content: center;
   
}
.section_container a{
    
    border:3px solid black;
    
    
    overflow:hidden;
    border-radius: 20px;
}
.section_container a:hover{
    border:3px solid orange;
}
.port{
    object-fit:cover;
    width: 100%;
    height: 100%;
    
    
}
.port:hover{
    
    transform:scale(1.2);
   
   
}
#sino1,#sino2,#sino3,#sino4{
    display: none;
}

#menuBox{
    display: none;
}
 
 
@media screen and (max-width:1100px){

    header{
        width: 100%;
        height: 90px;
    }
 #body_container
 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
 }
           
           
   
                
.aside_container_recomendados{
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
    align-items:center;
   
}


.aside_container_titulo h2{
    font-size: 2rem;
    color: antiquewhite;
    
    
}

.burbujas{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    border:2px solid #777;
    margin: 5px  0;    
    border-radius: 10px;
}



.aside_container_cuerpo{
    
    padding: 5px;
    border:2px solid #777;
   
    border-radius: 10px;
}
.dentro{
    display: grid;
    grid-template-areas: 
    "imagen titulo"
    "imagen sinopsis";
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 30% 70%; 
    align-items: center;
}
.portada{
    grid-area: imagen;
}
.dentro h3{
    grid-area: titulo;
    font-size: 2rem;
}
.sinopsis{
    grid-area: sinopsis;
}



footer{
    height: 50px;
    width: 100%;
}

}
@media screen and (max-width:800px){


.aside_container_recomendados{
    display: flex;
    
}
.aside_container_titulo{
    border:2px solid orange;
    border-radius: 10px;
    background-color: rgb(95, 12, 190);
    margin-bottom: 5px;
}
.aside_container_titulo h2{
    font-size: 2rem;
    color: antiquewhite;
       
}

#icon_logo{

    font-size: 60px;
    color: #777;
    position: absolute;
    right: 20px;   
    display: block; 
}
#menuBox{
    position: absolute;
    top:90px;
    left: 20%;
    width: 80%;
    height: 40vh;
    background: #48e;
    border-radius: 20px;
   border: 2px solid #F2F2F2;
}
#menuMobile{
    
    height: 100%;
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
    
}
#flecha{
    display: flex;
    align-items: center;
    width: auto;
    height: 39.7vh;
    font-size: 80px;
    color: #777;
    padding: 9px;
    border:2px solid #444941;
    border-radius: 20px;
}
.menuMobileBox{
    padding: 20px;
    width: 80%;
    height: 50%;
    
}
.menuMobileBox ul li{

    font-size: 60px;
    list-style: none;
    text-align: center;
}
#menuBox{
    display: none;
}
#icon_log:hover{
    color: aliceblue;

}
.burbujas{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    

    border:2px solid #777;
    margin: 5px  0;    
    border-radius: 10px;
    height: 100%;
}
.dentro{
    display: grid;
    grid-template-areas: 
    "imagen titulo"
    "imagen sinopsis";
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 30% 70%; 
    align-items: center;
}
.portada{
    grid-area: imagen;
}
.dentro h3{
    grid-area: titulo;
    font-size: 2rem;
}
.sinopsis{
    grid-area: sinopsis;
}

.aside_container_cuerpo{
    
    padding: 5px;
    border:2px solid #777;
 
   
    border-radius: 10px;
}

.section_container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.header_buscar{
    display: none;
}
#inicio,#directorio{
    display: none;
}

.header_container{
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content:center;
    
}


}


