/*  Normalizo la pagina*/
* {
    Margin:0;
    padding:0;
    box-sizing: border-box;
    
 }

 /*     Defino la grilla*/
#body_container{
  
    
   
    
}


body{
 
   
    background-color: #F2F2F2;
   font-size: 16px;
   background-image: url(/multimedia/fondocalacora.jpg)
   
       
}


header{
   
    background-color:#48e ;
    position: relative;
}




section{
    
    height:100vh;
  
}
footer{
    
    display: flex;
    justify-content: start;
    background-color: rgb(95, 12, 190);
    color: rgb(88, 156, 215);
    font-size: 1.5rem;
    align-items: center;
    position: relative;
    bottom: 0vh;
    border: 2px solid black;
}
#up{
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: 50px;
    font-size: 60px;
}



#row{
    
    display: flex;  
    justify-content:center;
    text-align: center;
    align-items: center;
   font-family: sans-serif;
}

a{
    text-decoration: none;
}
.logo{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(95, 12, 190);
    padding-right: 10px;
    border:5px solid #777;
    border-radius: 20px;
}
.imgLogo{

    height: 90px;
    align-items: center;
    margin-right: 10px;
    
}
.textLogo::first-letter{
    color: orange;
    font-size:2.2rem;
}
.textLogo{
    color: aliceblue;
}


.header_buscar{
    width: 30%;
    height: 60px;
    background-color: #48e;
    
}
.buscador_caja{
    position: relative;
    width:100% ;
    height: 50px;
    background-color: #48e;
    margin: 5px auto;
}
.box i{
    font-size: 20px;
    color: #777;
}
.box input{
    
    margin: 2px;
	height: 32px;
    width: 80%;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}
.box{
    position: absolute;
    width: 90%;
    height: 36px;
    top:8px;
    left: 30px;
    border-radius: 30px;
    border:none;
    background-color: white;
    padding: px;

}
.header_right{
    margin-left: 20px;
    width: 20%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.link:hover{
   color: #777;
}
#icon_logo{
    font-size: auto;
    color: #777;
    
}
.link{
   
    font-weight:  900;
    color: aliceblue;
}
.icono_logo{
    width: 50px;
    height: 50px;
}


@media screen and (max-width:1200px){
section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
           
}   
   
      
footer{
    height: 70px;
    width: 100%;
}

}

@media screen and (max-width:800px){



    #icon_logo{
    
        font-size: 60px;
        color: #777;
        position: absolute;
        right: 20px;
        
    
    }
    
    .header_buscar{
        display: none;
    }
    #inicio,#directorio{
        display: none;
    }
    
    .header_container{
        display: flex;
        width: 100vw;
        height: 100%;
        justify-content:center;
        
        
    }
    
    
    #sino1,#sino2,#sino3,#sino4{
        display: none;
    }
    footer{
        height: 70px;
    }
    
    }
    
    
    @media screen and (max-width:630px) {

        section{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
                   
        }   
        
    #icon_logo{
    
        font-size: 60px;
        color: #777;
        position: absolute;
        right: 20px;
        
    
    }
    
    .header_buscar{
        display: none;
    }
    #inicio,#directorio{
        display: none;
    }
    
    .header_container{
        display: flex;
        width: 100vw;
        height: 100%;
        justify-content:start;
        
    }
    
    
  
    footer{
        height: 70px;
    }
    }




